.headerLink {
  color: var(--color-base);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  font-weight: var(--font-w-medium);
  padding: 6px 0;
  position: relative;
  transition: var(--transition);
}

.headerLink::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background-color: var(--color-hover);
  width: 100%;
  left: 0;
  right: 0;
  bottom: -4px;
  transition: var(--transition);
  opacity: 0;
}

.headerLink:hover {
  color: var(--color-hover);
}

.headerLink:hover::after {
  opacity: 1;
  bottom: 0;
}
