.button {
  display: flex;
  border: var(--border-width-m) solid;
  border-color: var(--color-main);
  padding: var(--padding-s) var(--padding-xl);
  color: var(--color-main);
  font-weight: var(--font-w-sbold);
  font-size: var(--font-size-s);
  line-height: var(--line-height-sm);
  text-transform: uppercase;
  transition: var(--transition);
}

.button:hover {
  border-color: var(--color-hover);
  color: var(--color);
  background-color: var(--color-hover);
}

.otherButton {
  border-color: var(--color-hover);
  color: var(--color);
  background-color: var(--color-hover);
}

.otherButton:hover {
  border-color: var(--color-hover-dark);
  color: var(--color);
  background-color: var(--color-hover-dark);
}
