.sectionMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  padding: var(--padding-main);
}

.container {
  width: 100%;
  min-width: var(--container-width-min);
  max-width: var(--container-width-md);
  margin: 0 auto;
  padding: 0 var(--padding-s);
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: var(--card-gap);
}

.title {
  color: var(--color);
  font-weight: var(--font-w-bold);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

.subTitle {
  color: var(--color);
  font-weight: var(--font-w-regular);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--padding-main) 0 0;
}
