.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  display: flex;
  flex: 0 auto;
  justify-content: space-between;
  padding: var(--padding-main);
  background-color: var(--color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: var(--container-width-min);
  max-width: var(--container-width-md);
  margin: 0 auto;
}

.logo {
  float: left;
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.navContainer {
  display: flex;
  align-items: center;
  column-gap: var(--gap-xl);
}

.headerNav {
  display: flex;
  align-items: center;
  column-gap: var(--gap-xl);
}
